$background-color: #f9f9f9;
$white: #ffffff;
$primary-blue: #0962ea;
$slider-blue: #0e7cf4;

:export {
  backgroundColor: $background-color;
  white: $white;
  primaryBlue: $primary-blue;
  sliderBlue: $slider-blue;
}
